@import url(../../assets/base.less);
@import url(../../assets/common.less);
.tb-popup {
    width: 100%;
    background-color: @base-bg-color;
    border-radius: 1.0667vw 1.0667vw 0 0;
    max-height: 70vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    position: fixed;
    z-index: 1000;
    bottom: -100%;
    left: 0;
    transition: bottom @base-transition-time ease;
    .tb-popup-header {
        width: 100%;
        flex-shrink: 0;
        padding: 0 @base-padding;
        box-sizing: border-box;
        border-bottom: @base-border;
        .tb-popup-title {
            position: relative;
            width: 100%;
            box-sizing: border-box;
            .tb-popup-title-text {
                width: 100%;
                line-height: @base-height;
                font-size: @base-font-title-size;
                color: @base-font-title-color;
                font-weight: @base-font-weight;
                display: inline-block;
                max-width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                height: @base-height;
            }
            .tb-popup-close {
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                width: @base-height;
                height: @base-height;
                line-height: @base-height;
                text-align: center;
                font-size: @base-font-size;
                color: @base-font-color;
            }
            .tb-popup-left-btn {
                position: absolute;
                top: 0;
                left: 0;
                width: @base-height;
                height: @base-height;
                line-height: @base-height;
                text-align: center;
                font-size: @base-font-size;
                color: @base-font-color;
            }
            .tb-popup-right-btn {
                position: absolute;
                top: 0;
                right: 0;
                width: @base-height;
                height: @base-height;
                line-height: @base-height;
                text-align: center;
                font-size: @base-font-size;
                color: @base-color;
            }
        }
        .tb-popup-title-has-left-btn {
            padding-left: @base-height;
        }
        .tb-popup-title-has-right-btn {
            padding-right: @base-height;
        }
        .tb-popup-content {
            padding: @base-padding;
            box-sizing: border-box;
            font-size: @base-font-size;
            color: @base-font-color;
            text-align: center;
            line-height: 1.5;
            flex: 1;
            overflow-x: hidden;
            overflow-y: scroll;
        }
    }

}